body 
{
  background-color: white;
}

.center-text
{
    text-align: center;
    font-weight: bold;
}

.banner
{
    width: 100%;
}

.banner tr
{
    display: flex; 
    padding: 0.5rem;
}

.banner td 
{
    text-align: center;
    color: white;
    flex: 1;             
    background: #6A819F;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem lightgrey;
    transition: transform 0.2s ease;
}

.banner td:hover 
{
    transform: translateY(0.25rem);
}

.card-table
{
    width: 100%;
}

.card-table tr
{
    display: flex; 
    padding: 1rem;
}

.card-table td 
{
    flex: 1;             
    background: #E0E5EA;
    color: black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem lightgrey;
    transition: transform 0.2s ease;
}

.card-table td:hover 
{
    transform: translateY(0.25rem);
}

.form-popup {
  display: none;
}