<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="inital-scale=1, width=devicewidth">
        <link rel="stylesheet" href="./static/style.css">
        <title>{% block title %}{% endblock %}</title>
    </head>

<table class="banner">
    <tr>
        <td onclick="parent.window.location.href='/dash/'">Runner Data</td>
        <td onclick="parent.window.location.href='/mileagechart'">Weekly Breakdown</td>
        <td onclick="parent.window.location.href='/training'">View Training Plans</td>
        <td onclick="parent.window.location.href='/gear'">Manage Running Trainers</td>
        <td onclick="parent.window.location.href='/settings'">User Settings</td>
    </tr>
</table>

</html>
