{% extends "layout.html" %}

{% block title %}
    Running Gear
{% endblock %}

{% block body %}
    <h1>Running Gear</h1>

    <select id="gearSelection" name="gearSelection">
            <option value="Active">Active</option>
            <option value="Retired">Retired</option>  
            <option value="All">All</option>
    </select>
    <button onclick="openAddForm()">Add Trainer</button>
    <table id="gearTable" class="card-table"></table>

    <div id="popup" class="form-popup">
        <form class="form-container" id="popup_form">
            <h1>Update Trainer</h1>

            <label for="Add Miles"><b>Add Miles</b></label>
            <input type="number" placeholder="0" id = "addMiles" name="addMiles" min="0">
            <br>

            <label for="Remove Miles"><b>Remove Miles</b></label>
            <input type="number" placeholder="0" id = "removeMiles" name = "removeMiles" min="0">
            <br>

            <label for="Active"><b>Active</b></label>
            <select id="activeSelection" name="activeSelection">
                <option value="Active">Active</option>
                <option value="Retired">Retired</option>
            </select> 
            <br>

            <label for="Default Type"><b>Default Run Type</b></label>
            <select id="default_type" name="default_type">
                <option value="None">None</option>
                <option value="Easy">Easy</option>
                <option value="Hard">Hard</option>
            </select> 
            <br>

            <button type="reset" onclick="updateAndClose(document.getElementById('addMiles').value, 
                                                        document.getElementById('removeMiles').value,
                                                        document.getElementById('activeSelection').value,
                                                        document.getElementById('default_type').value,
                                                        document.getElementById('popup').dataset.gear_id)">Update</button>
            <button type="reset" onclick="closeForm()">Cancel</button>

        </form>
    </div>

    <div id="popup_add" class="form-popup">
        <form class="form-container"id="popup_add_form">
            <h1>Add Trainer</h1>

            <label for="Trainer"><b>Trainer</b></label>
            <input type="text" placeholder="trainer" id = "trainer" name="trainer" required>
            <br>

            <label for="Existing Miles"><b>Existing Miles</b></label>
            <input type="number" placeholder="0" id = "existingMiles" name="existingMiles" min="0" required>
            <br>

            <label for="Default Type Add"><b>Default Run Type</b></label>
            <select id="default_type_add" name="default_type_add" required>
                <option value="None">None</option>
                <option value="Easy">Easy</option>
                <option value="Hard">Hard</option>
            </select> 
            <br>

            <button type="button" onclick="validateAdd()">Add</button>
            <button type="reset" onclick="closeAddForm()">Cancel</button>

        </form>
    </div>

    <script>
        const runningGearData = {{ running_gear | tojson }};
    </script>

    <script src="./static/gear.js"></script>
    
{% endblock %}