{% extends "layout.html" %}

{% block title %}
    Mileage Charts
{% endblock %}

{% block body %}
 
    <table class="card-table">
    {% for week in weekly_mileage %}
        <tr>
            <th>{{ week.week }}</th> 
            {% for day, data in week.items() %}
                {% if not loop.first %}
                <td>
                    <div class="center-text">{{ day }}</div>
                    Easy distance: {{ data.easy }}<br>
                    Hard distance: {{ data.hard }}<br>
                    Total distance: {{ data.total }}<br>
                    Easy pace: {{ data.easy_pace }}<br>
                    Hard pace: {{ data.hard_pace }}<br>
                </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table> 

{% endblock %}
