{% extends "layout.html" %}

{% block title %}
    Training Plans
{% endblock %}

{% include "banner.html" %}

{% block body %}
    <h1>Training Plans</h1>

    <select class="drop-down" id="trainingPlanSelection" name="trainingPlanSelection">
            <option value="Current">Current</option>
            <option value="Previous">Previous</option>  
            <option value="All">All</option>
    </select>

    <table id="trainingTable" class="card-table"></table> 

    <script>
        const trainingPlansData = {{ training_plans | tojson }};
        const currentWeekYear = "{{ current_week }}";
    </script>
    <script src="./static/training.js"></script>


{% endblock %}