{% extends "layout.html" %}

{% block title %}
    Training Plans
{% endblock %}

{% include "banner.html" %}

{% block body %}
    <h1>Training Plans</h1>

    <select class="drop-down" id="week" name="week"></select>

    <button class="button" onclick="openNewPlan()">New Plan</button>

    <div id="popup_add_plan" class="form-popup"></div>

    <div class="chartcontainer">
        <div id="bar" class="bar"></div>
        <tbody><table class="card-table-plan" id="trainingTable"></table></tbody>
    </div>

    <table class="card-table" id="totals"></table> 

    <script>
        const barData = {{ bar_json_plans | default("null", true) | safe }};
        const trainingPlansData = {{ training_plans | default("null", true) | tojson }};
        const currentWeekYear = "{{ current_week }}";
        const nextFiveWeeks = {{ next_five_weeks| tojson }};
        const runner_id = "{{ runner }}";
    </script>

    <script src="./static/training.js"></script>

    <script>
        initialiseElements(barData);
    </script>

{% endblock %}